/*** FABIOZC ***/
strong {
  font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizelegibility;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
strong,
small {
  cursor: default;
}
a span,
a strong,
a small {
  cursor: pointer;
}
input,
button {
  position: relative;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 1.7;
}
p {
  margin: 0 0 0 0;
}
html,
input,
button {
  -webkit-font-smoothing: antialiased;
}
div,
ul,
li {
  position: relative;
}
html,
div,
map,
dt,
isindex,
form,
header,
nav,
article,
aside,
details,
hgroup,
section,
footer,
address {
  display: block;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none !important;
  outline: 0 auto none;
  outline-offset: 0;
}
a:hover,
a:active {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button:focus,
input:focus {
  outline: 0;
}
select,
textarea,
input {
  display: inline-block;
  height: 1.7;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 1.7;
  color: #979797;
  border-radius: 4px;
  background-color: #FFF;
  border: 1px solid #979797;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #29C963;
  outline: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@post FontSize:			@regularFont
@postLineHeight: 		1.7;
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'Metropolis-Thin';
  src: url('/font/Metropolis-Thin.eot');
  src: url('/font/Metropolis-Thin.eot?#iefix') format('embedded-opentype'), url('/font/Metropolis-Thin.woff') format('woff'), url('/font/Metropolis-Thin.woff2') format('woff2'), url('/font/Metropolis-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Metropolis-Regular';
  src: url('/font/Metropolis-Regular.eot');
  src: url('/font/Metropolis-Regular.eot?#iefix') format('embedded-opentype'), url('/font/Metropolis-Regular.woff') format('woff'), url('/font/Metropolis-Regular.woff2') format('woff2'), url('/font/Metropolis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Metropolis-Bold';
  src: url('/font/Metropolis-Bold.eot');
  src: url('/font/Metropolis-Bold.eot?#iefix') format('embedded-opentype'), url('/font/Metropolis-Bold.woff') format('woff'), url('/font/Metropolis-Bold.woff2') format('woff2'), url('/font/Metropolis-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Flaticon-v1.0';
  src: url('/font/Flaticon-v1.0.eot');
  src: url('/font/Flaticon-v1.0.eot?#iefix') format('embedded-opentype'), url('/font/Flaticon-v1.0.woff') format('woff'), url('/font/Flaticon-v1.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon-v1.0";
    src: url("/font/Flaticon-v1.0.svg#Flaticon") format("svg");
  }
}
.sansLight {
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
.sans {
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.sansBold {
  font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}
.serif {
  font-family: Georgia, serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.font-family {
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.font-icon {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.bold {
  font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}
.italic {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.shown {
  display: block !important;
  visibility: visible !important;
}
.icon-social {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f100";
}
.icon-idea {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f101";
}
.icon-presentation {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f102";
}
.icon-goal {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f103";
}
.icon-care {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f104";
}
.icon-networking {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f105";
}
.icon-handshake {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f106";
}
.icon-panel {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f107";
}
.icon-humanpictos {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f108";
}
.icon-package {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f109";
}
.icon-target {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f10a";
}
.icon-networking1 {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f10b";
}
.icon-briefcase {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f10c";
}
.icon-teamwork {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f10d";
}
.icon-chat {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f10e";
}
.icon-networking2 {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f10f";
}
.icon-like {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f110";
}
.icon-idea2 {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f111";
}
.icon-sprout {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f112";
}
.icon-user2 {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f113";
}
.icon-user {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f114";
}
.icon-team {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f115";
}
.icon-startup {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f116";
}
.icon-chart {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f117";
}
/* Basic CSS */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-size: 18px;
  line-height: 1.7;
  height: 100%;
}
body {
  position: relative;
  background-color: #FFF;
  color: #707070;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
body > section {
  *zoom: 1;
}
body > section:before,
body > section:after {
  display: table;
  content: "";
  line-height: 0;
}
body > section:after {
  clear: both;
}
a {
  color: #29C963;
  text-decoration: none;
}
a:hover {
  color: #4bda7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
img {
  text-decoration: none;
}
::selection {
  background: #29C963;
  color: #FFF;
  text-shadow: none;
}
.container {
  *zoom: 1;
  margin: 0 auto;
  width: 1160px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
@media (max-width: 980px) {
  .container {
    font-size: 16px;
    padding: 15px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 321px) {
  .container {
    font-size: 14px;
    padding: 15px;
    width: 100%;
    text-align: center;
  }
}
.main-section:not(.intro) {
  position: relative;
}
.main-section:nth-child(1) {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 750px;
}
@media (max-width: 980px) {
  .main-section:nth-child(1) {
    height: 562.5px;
  }
}
.main-section:nth-child(1):after {
  position: absolute;
  top: 750px;
  background-color: #FFF;
  border-radius: 100% 100%;
  content: "";
  display: block;
  margin: -80px 0 0 -31vw;
  width: 160vw;
  height: 600px;
}
@media (max-width: 980px) {
  .main-section:nth-child(1):after {
    top: 562.5px;
    height: 562.5px;
    height: 300px;
  }
}
.main-section:nth-child(2) {
  margin-top: 750px;
  padding-top: 60px;
}
@media (max-width: 980px) {
  .main-section:nth-child(2) {
    margin-top: 562.5px;
  }
}
.section-title,
.section-subtitle {
  display: block;
  margin: 0 ;
  text-align: center;
}
@media (max-width: 980px) {
  .section-title,
  .section-subtitle {
    margin: 0 20px 30px;
  }
}
.section-title {
  font-size: 1.9em;
  font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  margin: 40px 0 0;
  text-transform: uppercase;
}
.section-title:after {
  background-color: #29C963;
  content: "";
  display: block;
  font-size: 0;
  margin: 5px auto 10px;
  width: 120px;
  height: 3px;
}
.section-subtitle {
  font-size: 1.4em;
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
.text-title {
  font-size: 0.8em;
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 4px;
  margin: 60px 0 0 0;
  text-transform: uppercase;
}
.footer {
  padding: 60px;
  text-align: center;
}
.footer .btn-secondary {
  margin-right: 40px;
}
.footer .btn-primary {
  margin-left: 40px;
}
@media (max-width: 980px) {
  .footer {
    font-size: 16px;
    padding: 30px;
  }
  .footer .btn-secondary,
  .footer .btn-primary {
    display: block;
    margin: 10px 0;
    padding: 0 20px;
  }
}
.copy {
  background: #FFF;
  display: block;
  font-size: 0.8rem;
  padding: 30px;
  text-align: center;
}
@media (max-width: 980px) {
  .copy {
    font-size: 0.6rem;
  }
}
/* SNIPPETS ---------------------------- */
/* BUTTONS ------------------------------ */
.btn {
  position: relative;
  top: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
}
.btn-primary {
  position: relative;
  top: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
  background-color: #29C963;
  box-shadow: 0 20px 25px -10px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.btn-primary:hover {
  top: 2px;
  background-color: #4bda7f;
  box-shadow: 0 12px 20px -7px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.btn-primary:active {
  top: 4px;
  box-shadow: 0 3px 3px -3px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.btn-secondary {
  position: relative;
  top: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(41, 201, 99, 0.5);
  color: rgba(41, 201, 99, 0.7);
}
.btn-secondary:hover {
  box-shadow: inset 0 0 0 2px #29C963;
  color: #29C963;
}
.btn-secondary:active {
  background-color: #209f4e;
  color: #FFF;
}
.btn-secondary-inverted {
  position: relative;
  top: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.9);
}
.btn-secondary-inverted:hover {
  box-shadow: inset 0 0 0 2px #FFF;
  color: #FFF;
}
.btn-secondary-inverted:active {
  background-color: rgba(255, 255, 255, 0.75);
  color: #FFF;
}
/* PAGES ------------------------------- */
/* INTRO ------------------------------ */
.intro {
  background: #00C9BE;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00C9BE), color-stop(100%, #29C963));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #FFF;
  min-height: 750px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.intro:before {
  position: absolute;
  z-index: -1;
  background: url('../img/img-header.jpg') center -100px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: hue-rotate(60deg) saturate(1.8);
  content: "";
  display: block;
  opacity: .15;
  width: 100%;
  height: 100%;
}
.intro:after {
  content: "";
  display: block;
}
.intro .intro-title {
  display: block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 3.3em;
  line-height: 1;
  margin-top: 160px;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
}
@media (max-width: 980px) {
  .intro .intro-title {
    margin-top: 100px;
  }
}
.intro .intro-description {
  display: block;
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-size: 0.55em;
  margin: 15px auto 0;
  padding-left: 67px;
  text-align: left;
  white-space: nowrap;
  width: 450px;
}
@media (max-width: 980px) {
  .intro .intro-description {
    font-size: 6vmin;
    padding-left: 11.77%;
  }
}
@media (max-width: 980px) {
  .intro .intro-logo,
  .intro .intro-description {
    width: 80%;
    width: -webkit-calc(100% -  80px);
    /** Safari 6, Chrome 19-25 **/
    width: -moz-calc(100% -  80px);
    /** FF 4-15  **/
    width: calc(100% -  80px);
    /** FF 16+, IE 9+, Opera 15, Chrome 26+, Safari 7 and future other browsers **/
  }
}
/* INTRO ------------------------------ */
.experiences .container {
  transform: translateY(-350px);
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: -300px;
}
@media (max-width: 980px) {
  .experiences .container {
    flex-flow: column;
  }
}
.experiences .exp-item {
  z-index: 1;
  background: #FFF;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: 0 20px 65px rgba(50, 50, 50, 0.15);
  display: flex;
  flex-flow: column;
  flex: 1 0 80px;
  margin: 0 40px 40px 0;
  min-height: 510px;
  max-height: 700px;
  height: 70vh;
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
@media (max-width: 980px) {
  .experiences .exp-item {
    margin-right: 0;
    min-height: 550px;
  }
}
@media (max-width: 321px) {
  .experiences .exp-item {
    min-height: 450px;
  }
}
.experiences .exp-item:last-child {
  margin-right: 0;
}
.experiences .exp-item,
.experiences .exp-item * {
  cursor: pointer;
}
.experiences .exp-item:before {
  z-index: -1;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  content: "";
  display: block;
  -webkit-filter: hue-rotate(60deg) saturate(0);
  opacity: .2;
  width: 100%;
  height: 100%;
}
.experiences .exp-item:after {
  z-index: -1;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: -webkit-linear-gradient(rgba(255, 255, 0, 0), rgba(255, 255, 255, 0) 20%, #ffffff);
  background-image: linear-gradient(rgba(255, 255, 0, 0), rgba(255, 255, 255, 0) 20%, #ffffff);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff00', endColorstr='#ffffffff', GradientType=0);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.experiences .exp-item .exp-title {
  background-color: rgba(255, 255, 255, 0.08);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfffffff', endColorstr='#00ffffff', GradientType=0);
  border-top-left-radius: 80px;
  color: #4A4A4A;
  display: inline-block;
  flex-shrink: 0;
  font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-size: 1.7em;
  padding-top: 40px;
  text-transform: uppercase;
}
.experiences .exp-item .exp-title span {
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-transform: lowercase;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.experiences .exp-item .exp-title:after {
  border-radius: 5px;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
  color: #FFF;
  display: block;
  font-size: 3rem;
  margin: 40px auto;
  padding-top: 30px;
  width: 120px;
  height: 120px;
}
.experiences .exp-item .exp-desc {
  color: #4A4A4A;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px 20px 0;
}
@media (max-width: 321px) {
  .experiences .exp-item .exp-desc {
    padding-top: 0;
  }
}
.experiences .exp-item .exp-btn {
  position: relative;
  top: 0;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
  background-color: #29C963;
  box-shadow: 0 20px 25px -10px rgba(41, 201, 99, 0.5);
  color: #FFF;
  border-bottom-right-radius: 40px;
  box-shadow: none;
  display: inline-block;
  flex-shrink: 0;
  margin: 40px;
  padding: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.experiences .exp-item .exp-btn:hover {
  top: 2px;
  background-color: #4bda7f;
  box-shadow: 0 12px 20px -7px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.experiences .exp-item .exp-btn:active {
  top: 4px;
  box-shadow: 0 3px 3px -3px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.experiences .exp-item.exp-item-individuals:before {
  background-image: url(../img/img-individuals.jpg);
}
.experiences .exp-item.exp-item-individuals .exp-title:after {
  background: #00C9BE;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #00C9BE 0%, #17fff2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00C9BE), color-stop(100%, #17fff2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #00C9BE 0%, #17fff2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #00C9BE 0%, #17fff2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #00C9BE 0%, #17fff2 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #00C9BE 0%, #17fff2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f113";
}
.experiences .exp-item.exp-item-students:before {
  background-image: url(../img/img-students.jpg);
}
.experiences .exp-item.exp-item-students .exp-title:after {
  background: #f6bf4e;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6bf4e 0%, #ffdb92 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f6bf4e), color-stop(100%, #ffdb92));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #f6bf4e 0%, #ffdb92 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #f6bf4e 0%, #ffdb92 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #f6bf4e 0%, #ffdb92 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #f6bf4e 0%, #ffdb92 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f100";
}
.experiences .exp-item.exp-item-corporates:before {
  background-image: url(../img/img-corp.jpg);
}
.experiences .exp-item.exp-item-corporates .exp-title:after {
  background: #3eb1ea;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #3eb1ea 0%, #75d1ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3eb1ea), color-stop(100%, #75d1ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #3eb1ea 0%, #75d1ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #3eb1ea 0%, #75d1ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #3eb1ea 0%, #75d1ff 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #3eb1ea 0%, #75d1ff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f115";
}
.experiences .exp-item:hover,
.experiences .exp-item.is-open {
  z-index: 1;
  box-shadow: 0 30px 85px rgba(0, 0, 0, 0.25);
  color: #000;
}
.experiences .exp-item:hover:before,
.experiences .exp-item.is-open:before {
  -webkit-filter: hue-rotate(60deg) saturate(1.5);
  opacity: 0.3;
}
.experiences .exp-item:hover:after,
.experiences .exp-item.is-open:after {
  background: #FFF;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FFF), color-stop(100%, rgba(41, 201, 99, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.2) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.experiences .exp-item:hover .exp-title,
.experiences .exp-item.is-open .exp-title,
.experiences .exp-item:hover .exp-desc,
.experiences .exp-item.is-open .exp-desc,
.experiences .exp-item:hover .exp-btn,
.experiences .exp-item.is-open .exp-btn {
  transform: translateZ(20px);
}
.experiences .exp-item:hover .exp-btn,
.experiences .exp-item.is-open .exp-btn {
  box-shadow: 0 20px 25px -10px rgba(41, 201, 99, 0.5);
}
.experiences .exp-item:hover .exp-title,
.experiences .exp-item.is-open .exp-title {
  background: none;
}
.experiences .exp-item:hover .exp-title:after,
.experiences .exp-item.is-open .exp-title:after {
  box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.2);
}
.experiences .exp-item.is-open .exp-desc {
  justify-content: flex-start;
}
.experiences .exp-item.is-open .exp-btn {
  align-self: center;
  padding: 0 40px;
}
.request {
  z-index: 3;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  overflow: visible !important;
}
.about .about-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  justify-content: space-around;
  margin-top: 80px;
}
@media (max-width: 980px) {
  .about .about-features {
    flex-flow: column;
  }
}
.about .feature-item {
  flex: 1 0 50%;
  padding-left: 40px;
}
.about .feature-item:nth-child(2n+1) {
  padding-left: 0;
  padding-right: 40px;
}
.about .feature-item:before {
  display: inline-block;
  color: #29C963;
  float: left;
  font-size: 4rem;
  margin: 6.66666667px 40px 80px 0;
  text-align: center;
}
.about .feature-item-passion:before {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f104";
}
.about .feature-item-inspired:before {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f111";
}
.about .feature-item-goal:before {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f103";
}
.about .feature-item-multiply:before {
  font-family: 'Flaticon-v1.0';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f10f";
  margin-bottom: 120px;
}
@media (max-width: 980px) {
  .about .feature-item {
    flex-grow: 1 0 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
  }
  .about .feature-item:nth-child(2n+1) {
    padding-right: 0;
  }
  .about .feature-item:before {
    display: block;
    float: none;
    font-size: 3rem;
    margin: 0 auto 20px;
  }
}
.review {
  background: #29C963;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #29C963 0%, #00C9BE 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #29C963), color-stop(100%, #00C9BE));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #29C963 0%, #00C9BE 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #29C963 0%, #00C9BE 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #29C963 0%, #00C9BE 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #29C963 0%, #00C9BE 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #FFF;
  margin-top: 80px;
  padding: 40px 0;
  text-align: center;
}
@media (max-width: 980px) {
  .review {
    padding: 0;
  }
}
.review .section-title:after {
  background-color: rgba(255, 255, 255, 0.7);
}
.review .review-container {
  display: flex;
  margin-top: 40px;
  padding: 0 40px;
  height: 300px;
}
@media (max-width: 980px) {
  .review .review-container {
    padding: 0;
  }
}
.review .review-item {
  position: absolute;
  right: 0;
  left: auto;
  flex: 0;
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  font-size: 1.4em;
  margin: 0;
  margin-left: 100%;
  padding: 0;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-align: left;
  width: 100%;
}
.review .review-item.is-current {
  flex: 1;
  margin-left: 0;
  opacity: 1;
  right: auto;
  left: 0;
}
.review .review-item.is-prev {
  flex: 0;
  margin-left: -100%;
  opacity: 0;
  left: 0;
}
@media (max-width: 980px) {
  .review .review-item {
    font-size: 1em;
    text-align: center;
  }
}
.review .review-image {
  border-radius: 100%;
  border: 3px solid #FFF;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);
  display: inline-block;
  float: left;
  margin: 10px 60px 40px 0;
  width: 200px;
  height: 200px;
}
@media (max-width: 980px) {
  .review .review-image {
    border-width: 2px;
    display: block;
    float: none;
    margin: -10px auto 10px;
    width: 80px;
    height: 80px;
  }
}
.review .review-text {
  padding-right: 40px;
  width: 100%;
  min-width: 100%;
}
@media (max-width: 980px) {
  .review .review-text {
    padding: 0;
  }
}
.review .review-author {
  margin-top: 20px;
}
@media (max-width: 980px) {
  .review .review-author {
    margin: 0;
  }
}
.review .review-pag {
  position: relative;
  top: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto 40px;
}
.review .review-pag:hover {
  box-shadow: inset 0 0 0 2px #FFF;
  color: #FFF;
}
.review .review-pag:active {
  background-color: rgba(255, 255, 255, 0.75);
  color: #FFF;
}
.map {
  background: url("/img/map.png") no-repeat center top;
  background-size: contain;
  padding-top: 320px;
  min-height: 580px;
}
@media (max-width: 980px) {
  .map {
    padding-top: 160px;
  }
}
.map .map-container {
  background-color: white;
  box-shadow: 0px 10px 50px -15px rgba(0, 0, 0, 0.3);
  padding: 10px 40px;
  width: 100%;
  max-width: 900px;
}
.map .section-title {
  margin-top: 0;
  font-size: 1.7em;
}
.partners {
  background: #f7f8fa;
  margin-top: 30px;
  padding: 30px 0;
  text-align: center;
}
.partners .partners-logo {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  filter: saturate(0%) brightness(0%);
  -webkit-filter: saturate(0%) brightness(0%);
  margin: 15px 40px;
  opacity: .5;
  text-indent: -9999px;
  height: 50px;
}
@media (max-width: 980px) {
  .partners .partners-logo {
    width: 300px;
  }
}
.partners .partners-logo.partner-airbnb {
  background-image: url("/img/partner-airbnb.png");
  width: 181px;
}
.partners .partners-logo.partner-booking {
  background-image: url("/img/partner-booking.png");
  width: 230.5px;
}
.partners .partners-logo.partner-emirates {
  background-image: url("/img/partner-emirates.png");
  width: 207.5px;
}
.partners .partners-logo.partner-tsh {
  top: -15px;
  margin-bottom: -15px;
  background-image: url("/img/partner-tsh.png");
  width: 144px;
  height: 80px;
}
.partners .partners-logo.partner-viator {
  background-image: url("/img/partner-viator.png");
  width: 124px;
}
/*# sourceMappingURL=style.css.map */