/*** FABIOZC ***/
strong {
  font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizelegibility;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
strong,
small {
  cursor: default;
}
a span,
a strong,
a small {
  cursor: pointer;
}
input,
button {
  position: relative;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 1.7;
}
p {
  margin: 0 0 0 0;
}
html,
input,
button {
  -webkit-font-smoothing: antialiased;
}
div,
ul,
li {
  position: relative;
}
html,
div,
map,
dt,
isindex,
form,
header,
nav,
article,
aside,
details,
hgroup,
section,
footer,
address {
  display: block;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none !important;
  outline: 0 auto none;
  outline-offset: 0;
}
a:hover,
a:active {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button:focus,
input:focus {
  outline: 0;
}
select,
textarea,
input {
  display: inline-block;
  height: 1.7;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 19px;
  line-height: 1.7;
  color: #979797;
  border-radius: 4px;
  background-color: #FFF;
  border: 1px solid #979797;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #29C963;
  outline: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@post FontSize:			@regularFont
@postLineHeight: 		1.7;
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .flex {
    flex-flow: column;
  }
}
@font-face {
  font-family: 'Metropolis-Thin';
  src: url('/font/Metropolis-Thin.eot');
  src: url('/font/Metropolis-Thin.eot?#iefix') format('embedded-opentype'), url('/font/Metropolis-Thin.woff') format('woff'), url('/font/Metropolis-Thin.woff2') format('woff2'), url('/font/Metropolis-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Metropolis-Regular';
  src: url('/font/Metropolis-Regular.eot');
  src: url('/font/Metropolis-Regular.eot?#iefix') format('embedded-opentype'), url('/font/Metropolis-Regular.woff') format('woff'), url('/font/Metropolis-Regular.woff2') format('woff2'), url('/font/Metropolis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Metropolis-Bold';
  src: url('/font/Metropolis-Bold.eot');
  src: url('/font/Metropolis-Bold.eot?#iefix') format('embedded-opentype'), url('/font/Metropolis-Bold.woff') format('woff'), url('/font/Metropolis-Bold.woff2') format('woff2'), url('/font/Metropolis-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
.sansLight {
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
.sans {
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.sansBold {
  font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.serif {
  font-family: Georgia, serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.font-family {
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.bold {
  font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}
.italic {
  font-style: italic;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.shown {
  display: block !important;
  visibility: visible !important;
}
/* Basic CSS */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-size: 19px;
  line-height: 1.7;
  height: 100%;
}
body {
  background-color: #f7f8fa;
  color: #707070;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
body > section {
  *zoom: 1;
}
body > section:before,
body > section:after {
  display: table;
  content: "";
  line-height: 0;
}
body > section:after {
  clear: both;
}
a {
  color: #29C963;
  text-decoration: none;
}
a:hover {
  color: #4bda7f;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
img {
  text-decoration: none;
}
::selection {
  background: #29C963;
  color: #FFF;
  text-shadow: none;
}
.container {
  *zoom: 1;
  margin: 0 auto;
  width: 1160px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
@media (max-width: 980px) {
  .container {
    font-size: 16px;
    padding: 15px;
    width: 100%;
    text-align: center;
  }
}
.main-section:not(.intro) {
  position: relative;
  padding-bottom: 60px;
}
.main-section:nth-child(1) {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 750px;
}
@media (max-width: 980px) {
  .main-section:nth-child(1) {
    height: 562.5px;
  }
}
.main-section:nth-child(1):after {
  position: absolute;
  top: 750px;
  background-color: #FFF;
  border-radius: 100% 100%;
  content: "";
  display: block;
  margin: -80px 0 0 -31vw;
  width: 160vw;
  height: 600px;
}
@media (max-width: 980px) {
  .main-section:nth-child(1):after {
    top: 562.5px;
    height: 562.5px;
    height: 300px;
  }
}
.main-section:nth-child(2) {
  margin-top: 750px;
  padding-top: 60px;
}
@media (max-width: 980px) {
  .main-section:nth-child(2) {
    margin-top: 562.5px;
  }
}
.section-title,
.section-subtitle {
  display: block;
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-size: 1.9em;
  margin: 0 0 30px;
}
@media (max-width: 980px) {
  .section-title,
  .section-subtitle {
    margin: 0 20px 30px;
  }
}
.section-subtitle {
  font-size: 1.7em;
}
.text-title {
  font-size: 0.8em;
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 4px;
  margin: 60px 0 0 0;
  text-transform: uppercase;
}
.footer {
  padding: 60px;
  text-align: center;
}
.footer .btn-secondary {
  margin-right: 40px;
}
.footer .btn-primary {
  margin-left: 40px;
}
@media (max-width: 980px) {
  .footer {
    font-size: 16px;
    padding: 30px;
  }
  .footer .btn-secondary,
  .footer .btn-primary {
    display: block;
    margin: 10px 0;
  }
}
.copy {
  background: #FFF;
  display: block;
  font-size: 0.8rem;
  padding: 30px;
  text-align: center;
}
/* SNIPPETS ---------------------------- */
/* BUTTONS ------------------------------ */
.btn {
  position: relative;
  top: 0;
  border-radius: 2px;
  display: inline-block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
}
.btn-primary {
  position: relative;
  top: 0;
  border-radius: 2px;
  display: inline-block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
  background-color: #29C963;
  box-shadow: 0 20px 25px -10px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.btn-primary:hover {
  top: 2px;
  background-color: #4bda7f;
  box-shadow: 0 12px 20px -7px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.btn-primary:active {
  top: 4px;
  box-shadow: 0 3px 3px -3px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.btn-secondary {
  position: relative;
  top: 0;
  border-radius: 2px;
  display: inline-block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(41, 201, 99, 0.5);
  color: rgba(41, 201, 99, 0.7);
}
.btn-secondary:hover {
  box-shadow: inset 0 0 0 2px #29C963;
  color: #29C963;
}
.btn-secondary:active {
  background-color: #209f4e;
  color: #FFF;
}
/* PAGES ------------------------------- */
/* INTRO ------------------------------ */
.intro {
  background: #00C9BE;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00C9BE), color-stop(100%, #29C963));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #00C9BE 0%, #29C963 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #FFF;
  min-height: 750px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.intro:before {
  position: absolute;
  z-index: -1;
  background: url('../img/img-header.jpg') center -100px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: hue-rotate(60deg) saturate(1.8);
  content: "";
  display: block;
  opacity: .15;
  width: 100%;
  height: 100%;
}
.intro:after {
  content: "";
  display: block;
}
.intro .intro-title {
  display: block;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 3.3em;
  line-height: 1;
  margin-top: 160px;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
}
@media (max-width: 980px) {
  .intro .intro-title {
    margin-top: 100px;
  }
}
.intro .intro-description {
  display: block;
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-size: 0.55em;
  margin: 15px auto 0;
  padding-left: 67px;
  text-align: left;
  white-space: nowrap;
  width: 450px;
}
@media (max-width: 980px) {
  .intro .intro-description {
    font-size: 0.44em;
    padding-left: 48px;
  }
}
@media (max-width: 980px) {
  .intro .intro-logo,
  .intro .intro-description {
    max-width: 320px;
  }
}
/* INTRO ------------------------------ */
.experiences .container {
  position: relative;
  top: -350px;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: -300px;
}
@media (max-width: 980px) {
  .experiences .container {
    flex-flow: column;
  }
}
.experiences .exp-item {
  background: #FFF;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: 0 20px 65px rgba(50, 50, 50, 0.15);
  display: flex;
  flex-flow: column;
  flex: 1 0 80px;
  margin: 0 40px 40px 0;
  min-height: 450px;
  max-height: 700px;
  height: 70vh;
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  transform-style: preserve-3d;
}
@media (max-width: 980px) {
  .experiences .exp-item {
    margin-right: 0;
    min-height: 550px;
  }
}
@media (max-width: 321px) {
  .experiences .exp-item {
    min-height: 450px;
  }
}
.experiences .exp-item:last-child {
  margin-right: 0;
}
.experiences .exp-item,
.experiences .exp-item * {
  cursor: pointer;
}
.experiences .exp-item.exp-item-individuals:before {
  background-image: url(../img/img-individuals.jpg);
}
.experiences .exp-item.exp-item-students:before {
  background-image: url(../img/img-students.jpg);
}
.experiences .exp-item.exp-item-corporates:before {
  background-image: url(../img/img-corp.jpg);
}
.experiences .exp-item:before {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  content: "";
  display: block;
  -webkit-filter: hue-rotate(60deg) saturate(0);
  opacity: .2;
  width: 100%;
  height: 100%;
}
.experiences .exp-item:after {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: -webkit-linear-gradient(rgba(255, 255, 0, 0), rgba(255, 255, 255, 0) 20%, #ffffff);
  background-image: linear-gradient(rgba(255, 255, 0, 0), rgba(255, 255, 255, 0) 20%, #ffffff);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff00', endColorstr='#ffffffff', GradientType=0);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.experiences .exp-item .exp-title {
  z-index: 1;
  background-color: #4A4A4A;
  border-top-left-radius: 20px;
  color: #FFF;
  display: inline-block;
  flex-shrink: 0;
  font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-size: 1.7em;
  align-self: flex-end;
  margin-top: 40px;
  padding: 7px 20px 5px;
  text-transform: uppercase;
}
.experiences .exp-item .exp-title span {
  font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-transform: lowercase;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.experiences .exp-item .exp-desc {
  z-index: 1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 20px 0;
}
.experiences .exp-item .exp-btn {
  z-index: 1;
  position: relative;
  top: 0;
  border-radius: 2px;
  font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  letter-spacing: 0.8px;
  line-height: 2.7;
  margin: 0 0 -1px;
  padding: 0 40px;
  text-transform: uppercase;
  background-color: #29C963;
  box-shadow: 0 20px 25px -10px rgba(41, 201, 99, 0.5);
  color: #FFF;
  border-bottom-right-radius: 40px;
  box-shadow: none;
  display: inline-block;
  flex-shrink: 0;
  margin: 40px;
  padding: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.experiences .exp-item .exp-btn:hover {
  top: 2px;
  background-color: #4bda7f;
  box-shadow: 0 12px 20px -7px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.experiences .exp-item .exp-btn:active {
  top: 4px;
  box-shadow: 0 3px 3px -3px rgba(41, 201, 99, 0.5);
  color: #FFF;
}
.experiences .exp-item:hover {
  z-index: 1;
  box-shadow: 0 30px 85px rgba(0, 0, 0, 0.25);
  color: #000;
}
.experiences .exp-item:hover:before {
  -webkit-filter: hue-rotate(60deg) saturate(1.5);
  opacity: 0.4;
}
.experiences .exp-item:hover:after {
  background: #FFF;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.5) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FFF), color-stop(100%, rgba(41, 201, 99, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.5) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.5) 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #FFF 0%, rgba(41, 201, 99, 0.5) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.experiences .exp-item:hover .exp-title,
.experiences .exp-item:hover .exp-desc,
.experiences .exp-item:hover .exp-btn {
  transform: translateZ(15px);
}
.experiences .exp-item:hover .exp-btn {
  box-shadow: 0 20px 25px -10px rgba(41, 201, 99, 0.5);
}
.experiences .exp-item:hover .exp-title {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=style.css.map */