//@iconVersion: "v1.0";

@font-face {
	font-family: 'Metropolis-Thin' ;
	src: url('@{baseUrl}/font/Metropolis-Thin.eot');
	src: url('@{baseUrl}/font/Metropolis-Thin.eot?#iefix') format('embedded-opentype'),
		url('@{baseUrl}/font/Metropolis-Thin.woff') format('woff'),
		url('@{baseUrl}/font/Metropolis-Thin.woff2') format('woff2'),
		url('@{baseUrl}/font/Metropolis-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Metropolis-Regular' ;
	src: url('@{baseUrl}/font/Metropolis-Regular.eot');
	src: url('@{baseUrl}/font/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
		url('@{baseUrl}/font/Metropolis-Regular.woff') format('woff'),
		url('@{baseUrl}/font/Metropolis-Regular.woff2') format('woff2'),
		url('@{baseUrl}/font/Metropolis-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Metropolis-Bold' ;
	src: url('@{baseUrl}/font/Metropolis-Bold.eot');
	src: url('@{baseUrl}/font/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
		url('@{baseUrl}/font/Metropolis-Bold.woff') format('woff'),
		url('@{baseUrl}/font/Metropolis-Bold.woff2') format('woff2'),
		url('@{baseUrl}/font/Metropolis-Bold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}

.sansLight{ font-family: "Metropolis-Thin", "Open Sans", Helvetica, sans-serif; font-weight: 100; -webkit-font-smoothing: antialiased;}
.sans{ font-family: "Metropolis-Regular", "Open Sans", Helvetica, sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased;}
.sansBold{ font-family: "Metropolis-Bold", "Open Sans", Helvetica, sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased;}
.serif{ font-family: Georgia, serif; font-weight: 400; -webkit-font-smoothing: antialiased;}

.font-family{ .sans;}
//.font-icon{ font-family: 'mentorama-@{iconVersion}'; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; font-weight: normal; }

.bold{ .sansBold; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased;}
.italic{ font-style: italic;}
