// Colors -------------------------
// EEexp Custom Colors
@aqua: #00C9BE;
@aqua2: lighten(saturate(@aqua,100%),15%);
@green: #29C963;
@greenBright: #46C600;

// Other Colors
@white: #FFF;
@black: #000;
@yellow: #f6bf4e;
@yellow2: lighten(saturate(@yellow,100%),15%);
@blue: #3eb1ea;
@blue2: lighten(saturate(@blue,100%),15%);
@brown: #261B10;
@brown2: lighten(saturate(@brown,100%),15%);
@red: #ed2458;
@red2: lighten(saturate(@red,100%),15%);
@orange: #ff4623;
@orange2: lighten(saturate(@orange,100%),15%);

//Grays
@grayLighter: lighten(@grayDarker,70%);
@grayLight: lighten(@grayDarker,70%);
@gray: lighten(@grayDarker,30%);
@grayDark: lighten(@grayDarker,15%);
@grayDarker: #4A4A4A;

// Background
@bgcolor: @white;
@bgcolor2: #f7f8fa;
@bgcolor3: darken(@aqua,20%);

// Main
@stColor: @green;
@ndColor: @aqua;
@rdColor: @orange;

// Text and Titles
@titleColor: @grayDarker;
@subtitleColor: @yellow;
@textColor: @grayDark;
@text2Color: @gray;

// Links
@linkColor: @green;
@linkColorHover: lighten(@linkColor, 10%);
@linkActiveColor: darken(@linkColor, 10%); //Button text color when background is filled with @linkColor
@linkColorVisited: fade(@linkColor, 40%);
@ndLink: @blue;

// Inputs
@inputColor: @gray;
@inputBorderColor: @gray;
@placeholderText: @gray;

// Socials
@facebook: #3a5795;
@twitter: #00c2dd;
@googleplus: #CC0000;
@whatsapp: #00e181;
@email: #b5de42;


// Sizes -------------------------
@space: 40px;
@padding: @space;
@margin: @space;
@vSpace: @space*1.5;

// Borders
@baseBorderRadius: 2px;

// Typography
@smallestFont:			0.55em;
@smallerFont:			0.7em;
@smallFont:				0.8em;
@regularFont:			1em;
@titleFont:			    1.4em;
@largeFont:				1.7em;
@largerFont:			1.9em;
@largestFont:			2.7em;
@heroFont:				3.3em;

@baseFontFamily:        "Metropolis-Regular", Helvetica, Arial;
@baseFontSize:          18px;
@baseLineHeight:        1.7;

@postFontSize:			@regularFont
@postLineHeight: 		1.7;


// Component Variables -------------------------
@zindexModalBackdrop:     1040;
@zindexModal:             1050;

// Animations
@anim: .1s;

// Responsive breakpoints -------------------------
@small-mobile:			  321px;
@mobile:				  591px;
@phablet:			      767px;
//@tablet:				  980px; // Need to work on this breakpoint
@mobile:				  980px;
@desktop:				  1200px;
