/* INTRO ------------------------------ */
.experiences{
	.container{ position: relative; top: -350px; z-index: 1; margin-bottom: -300px;}
	.exp-item{ background-color: @white; border-radius: 80px; .border-radius-TR(0); .border-radius-BL(0); box-shadow: 0 20px 65px rgba(50,50,50,.15); display: inline-block; margin-right: 4.6%; width: 30%; min-height: 650px;
		&:last-child{ margin-right: 0;}
	}
}
