/* INTRO ------------------------------ */
@individualsColor: @ndColor;
@studentsColor: @yellow;
@corporatesColor: @blue;

.experiences{
	@cornerRadius: 80px;
	.container{ transform: translateY(-350px); z-index: 1; .flex; margin-bottom: -300px;}
	.exp-item{ z-index: 1; background: @white; .border-radius-TL(@cornerRadius); .border-radius-BR(@cornerRadius); box-shadow: 0 20px 65px rgba(50,50,50,.15); display: flex; flex-flow: column; flex: 1 0 80px; margin: 0 @space @space 0; min-height: 510px; max-height: 700px; height: 70vh; text-align: center; .transition(all @anim ease-out);
		@media (max-width: @mobile){ margin-right: 0; min-height: 550px;}
		@media (max-width: @small-mobile){ min-height: 450px;}

		&:last-child{ margin-right: 0;}
		&,
		& *{ cursor: pointer;}

		&:before{ z-index: -1; position: absolute; background-position: center; background-repeat: no-repeat; background-size: cover; .border-radius-TL(@cornerRadius); .border-radius-BR(@cornerRadius); content: ""; display: block; -webkit-filter: hue-rotate(60deg) saturate(0); opacity: .2; width: 100%; height: 100%;}
		&:after{ z-index: -1; position: absolute; top: 0; #gradient .vertical-three-colors(rgba(255,255,0,0),rgba(255,255,255,0), 20%,rgba(255,255,255,1)); .border-radius-TL(@cornerRadius); .border-radius-BR(@cornerRadius); content: ""; display: block; width: 100%; height: 100%;}

		.exp-title{ #gradient .vertical-three-colors(rgba(255,255,255,0.75),rgba(255,255,255,.1),80%,rgba(255,255,255,.0)); .border-radius-TL(@cornerRadius); color: @grayDarker; display: inline-block; flex-shrink: 0; .bold; font-size: @largeFont; padding-top: @padding; text-transform: uppercase;
			span{ .sansLight; text-transform: lowercase; .transition(all @anim ease-out);}
			&:after{ .border-radius(5px); box-shadow: 0 0px 0px 0px rgba(0,0,0,0); color: @white; display: block; font-size: 3rem; margin: @space auto; padding-top: @padding*0.75; .square(120px);}
		}
		.exp-desc{ color: @grayDarker; display: flex; flex-grow: 1; flex-direction: column; padding: @space/2 @space/2 0;
			@media (max-width: @small-mobile){ padding-top: 0;}
		}
		.exp-btn{ .btn-primary; .border-radius-BR(40px); box-shadow: none; display: inline-block; flex-shrink: 0; margin: @margin; padding: 0; .transition(all @anim ease-out);}

		&.exp-item-individuals{
			&:before{ background-image: url(../img/img-individuals.jpg);}
			.exp-title:after{ #gradient .diagonal( 45deg, @aqua, @aqua2); .icon-user2;}
		}
		&.exp-item-students{
			&:before{ background-image: url(../img/img-students.jpg);}
			.exp-title:after{ #gradient .diagonal( 45deg, @yellow, @yellow2); .icon-social;}
		}
		&.exp-item-corporates{
			&:before{ background-image: url(../img/img-corp.jpg);}
			.exp-title:after{ #gradient .diagonal( 45deg, @blue, @blue2); .icon-team;}
		}

		&:hover,
		&.is-open{ z-index: 1; box-shadow: 0 30px 85px rgba(0,0,0,.25); color: @black;
			&:before{ -webkit-filter: hue-rotate(60deg) saturate(1.5); opacity: .3}
			&:after{ #gradient .diagonal(45deg,@white,fade(@green,20%));}
			.exp-title,
			.exp-desc,
			.exp-btn{ transform: translateZ(20px);}
			.exp-btn{ .box-shadow(0 20px 25px -10px fade(@linkColor,50%));}
			.exp-title{ background: none;
				&:after{ box-shadow: 0 20px 25px -10px rgba(0,0,0,.2)}
			}
		}

		&.is-open{
			.exp-title{ }
			.exp-desc{ justify-content: flex-start;}
			.exp-btn{ align-self: center; padding: 0 @padding;}
		}
	}
}
