.partners{ background: @bgcolor2; margin-top: @vSpace/2; padding: @vSpace/2 0; text-align: center;
    .partners-logo{ position: relative; display: inline-block; filter: saturate(0%) brightness(0%); -webkit-filter: saturate(0%) brightness(0%); margin: @vSpace/4 @margin/2; opacity: .4;
        @media (max-width: @mobile){ width: 300px; display: block; margin: @vSpace/4 auto;}
        &.partner-airbnb{ width: 362px/2; height: auto;}
        &.partner-booking{ width: 461px/2; height: auto;}
        //&.partner-emirates{ width: 415px/2; height: auto;}
        &.partner-tsh{ top: -@vSpace/4; margin-bottom: -@vSpace/4;  width: 144px; height: 80px;}
        &.partner-viator{ width: 243px/2; height: auto;}
        &.partner-sound{ width: 279px/2; height: auto;}
        //&:hover{ filter: saturate(100%) brightness(100%); -webkit-filter: saturate(100%) brightness(100%); opacity: 1;}
    }
}
