.review{ #gradient .diagonal; color: @white; margin-top: @margin*2; padding: @padding 0; text-align: center;
    @media (max-width: @mobile){ padding: 0;}
    .section-title:after{ background-color: rgba(255,255,255,.7);}
    .review-container{ display: flex; margin-top: @margin; padding: 0 @padding; height: 300px;
        @media (max-width: @mobile){ padding: 0; height: 350px;}
    }
    .review-item{ position: absolute; right: 0; left: auto; flex: 0; .italic; font-size: @titleFont; margin: 0; margin-left: 100%; padding: 0; opacity: 0; .transition(all 1s ease); text-align: left; width: 100%;
        &.is-current{ flex: 1; margin-left: 0; opacity: 1; right: auto; left: 0;}
        &.is-prev{ flex: 0; margin-left: -100%; opacity: 0; left: 0;}
        @media (max-width: @mobile){ font-size: @regularFont; text-align: center;}
    }
    .review-image{ .border-radius-TL(80px); .border-radius-BR(80px); border: 3px solid @white; box-shadow: 0 20px 30px -20px rgba(0,0,0,.5); display: inline-block; float: left; margin: @margin/4 @margin*1.5 @margin 0; .square(200px);
        @media (max-width: @mobile){ .border-radius-TL(32px); .border-radius-BR(32px); border-width: 2px; display: block; float: none; margin: -@margin/4 auto @margin/4; .square(80px);}
    }
    .review-text{ padding-right: @padding; width: 100%; min-width: 100%;
        @media (max-width: @mobile){ padding: 0;}
    }
    .review-author{ margin-top: @margin/2;
        @media (max-width: @mobile){ margin: 0;}
    }
    .review-pag{ .btn-secondary-inverted; margin: 0 auto @space;}
}
